.navigationbar{
    background-color:#349fa4 ;
}
#lizet table{
    width: 1110px;
    align-items: center;
    padding-top: 20px;
}
#lizet img{
    text-align: right;
    height: 500px;
    padding-left: 25px;
}
#lizet p{
    text-align:left;
    font-size: 30px;
    font-family: didot, serif;
    width: 600px;
    padding-top: 20px;
    font-weight: lighter;
    text-align: justify;
    vertical-align: center;
    padding-right: 20px;
    padding-left: 40px;
}
#lizet h1{
    font-family: didot, serif;
    font-size: 50px;
    font-weight: bold;
    padding-top: 20px;
}
.navbar-header img{
    height: 120px;
    width: auto;
    margin-top: -20px;
}
#contact h1{
    font-family: didot, serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
#contact h2{
    font-family: didot, serif;
    font-size: 40px;
    text-align: center;
}
#contact p{
    font-family: didot, serif;
    font-size: 20px;
    text-align: center;
}
#contact ul{
    font-size: 15px;
    font-family: didot, serif;
    text-align: center;
    list-style-type: none;
    font-style: italic;
}
body {
    background-color:ivory ;
}
#myCarousel img{
    height: 1100px;
    width: auto;
   margin-left: 300px;
}
.artwork {
    font-family: didot, serif;
    text-align: center;
    font-size: 65px;
}
.footerlink{
    text-align: center;
    background-color: DarkSalmon;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 120px;
}
.footerlink p{
    font-size:30px;
    font-family: didot, serif;
}
.footerlink a {
    text-decoration: none;
    color:black;
}
#contact hr {
    align-content: center;
    width: 900px;
    color: black;
    background-color: black;
    height: 1px;
}